:root {
    --primary: #A5C882;
    --secondary: #D33F49;
    --light: #fff;
    --dark: #000;
    --diabled: #e7e7e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:first-letter {
    text-transform: capitalize;
}

.h1 {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}    
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--diabled);
    
    min-width: 100vw;
}

.List {
    background-color: var(--light);
    margin: 25px auto;
    padding: 25px;
    border-radius: 20px;
    width: 80%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.date {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dateLeft {
    width: 30%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#dateText {
    width: 70%;
    height: 80px;
    padding-right: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 40px;
    text-transform: capitalize;
}

#dateNumber {
    font-size: 60px;
    margin-right: 5px;
}

#dateMonth,
#dateNumber,
#dateText {
    font-weight: bold;
}

#dateMonth,
#dateYear{
    font-size: 25px;
}

#complete-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#newTask {
    background-color: var(--diabled);
    border-radius: 15px;
    width: 100%;
    height: 55px;
    padding-left: 20px;
    margin-left: 5%;
    border: none;
    font-weight: bold;
}

.addTaskButton{
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 50%;
    width: 85px;
    height: 50px;
    font-weight: bold;
    font-size: 19px;
    color: var(--dark);
    border: none;
    cursor: pointer;
}

.orderButton{
    background-color: #D33F49;
    margin-right: 40px;
    width: 25%;
    height: 55px;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

input:focus{
    outline: none;
}

.task {
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
}

.done {
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}

.roundBorder{
    border-radius: 15px;
}

#TasksContainer {
    margin-top: 20px;
    width: 90%;
    min-height: 10vh;
    background-color: var(--light);
    border-radius: 15px;
}